@font-face {
  font-family: 'Noway-Bold';
  src: url('/styles/fonts/noway/Noway-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Noway-Medium';
  src: url('/styles/fonts/noway/Noway-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Noway';
  src: url('/styles/fonts/noway/Noway-Regular.otf') format('opentype');
}
