$default-theme: 'default';
$dark-theme: 'dark';
$text-color: 'text';
$secondary-color: 'secondary';
$bg-color: 'bg';
$bg2-color: 'bg2';
$primary-color: 'primary';

$themes: (
  $default-theme: (
    $text-color: #180d28,
    $secondary-color: #a182d4,
    $bg2-color: #f7f4fb,
    $primary-color: #4c2b81,
    $bg-color: #ffffff
  ),
  $dark-theme: (
    $text-color: #ffffff,
    $secondary-color: #a182d4,
    $bg2-color: #201135,
    $primary-color: #4c2b81,
    $bg-color: #180d28
  )
);

@function color($theme, $color) {
  $colors: map-get($themes, $theme);
  @return map-get($colors, $color);
}

@mixin theme($theme: $default-theme) {
  $selector: #{&};
  @media (prefers-color-scheme: dark) {

  }
  @at-root body.#{$theme}-theme #{$selector} {
    @content
  }
}
