@import 'themes';
@import 'fonts';

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: 'Noway';
  color: color($default-theme, $text-color);
  background: color($default-theme, $bg-color);

  &.dark-theme {
    color: color($dark-theme, $text-color);
    background: color($dark-theme, $bg-color);
  }
}

a {
  color: color($default-theme, $text-color);

  @include theme($dark-theme) {
    color: color($dark-theme, $text-color);
  }

  &:hover {
    color: color($default-theme, $primary-color);

    @include theme($dark-theme) {
      color: color($dark-theme, $primary-color);
    }
  }
}

h1 {
  font-family: 'Noway-Bold';
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

h2 {
  font-family: 'Noway-Medium';
  font-size: 28px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.4px;
}

h3 {
  font-family: 'Noway';
  font-size: 24px;
  letter-spacing: 0.6px;
  line-height: 37.8px;
}

.btn {
  border: 0;
  border-radius: 10px;
  background: color($default-theme, $primary-color);
  color: color($default-theme, $bg-color);

  @include theme($dark-theme) {
    color: color($dark-theme, $text-color);
    background: color($dark-theme, $primary-color);
  }
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.header {
  display: flex;
  padding: 50px 0;

  .logo {
    flex: 1;
    font-weight: bold;
    text-transform: uppercase;
  }

  .menu {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;

      a {
        display: block;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        font-size: 1rem;
        font-family: Noway-Medium;
        font-weight: 500;
        padding: 1rem;
        letter-spacing: 0.15rem;

        @include theme($dark-theme) {
          color: color($dark-theme, $text-color);
        }
      }
    }
  }
}


section {
  margin: 100px 0;

  h2 {
    margin: 30px 0;
  }
}

footer {
  text-align: center;
  margin-bottom: 20px;
}

/* Hero */
.hero-section {
  display: flex;
  margin-top: 50px;
  align-items: flex-end;

  .image {
    position: relative;
    border-radius: 20px;

    img {
      width: 240px;
      border-radius: 20px;
      filter: grayscale(100%) brightness(110%) contrast(105%) drop-shadow(8px 8px 0px rgba(color($dark-theme, $secondary-color), 0.16));
    }
  }

  .info {
    flex: 1;
    padding: 0 64px;
    color: color($default-theme, $text-color);
    // TODO
    font-size: 28px;
    letter-spacing: 1.4px;
    line-height: 42px;
    // END TODO

    @include theme($dark-theme) {
      color: color($dark-theme, $text-color);
    }

    .links {
      margin-top: 70px;
      // TODO
      font-family: 'Noway-Medium';
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 2.4px;
      // END TODO

      a {
        display: inline-block;
        margin-right: 30px;
        text-decoration: none;
      }
    }
  }
}

.services-section {
  .services {
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 0;
    grid-row-gap: 20px;

    .service {
      border-radius: 12px;
      background-color: color($default-theme, $bg2-color);
      padding: 20px;

      h3 {
        margin: 1em 0 0;
      }

      p {
        font-family: 'Noway-Medium';
        font-weight: 500;
        letter-spacing: 2.4px;
        line-height: 21.6px;

        &.items {
          color: color($default-theme, $secondary-color);

          @include theme($dark-theme) {
            color: color($dark-theme, $secondary-color);
          }
        }

      }
    }
  }
}

@media only screen and (min-width: 640px) {
  .services-section {
    .services {
      grid-template-columns: 47.5% 47.5%;
      grid-column-gap: 5%;
      grid-row-gap: 40px;
    }
  }
}

// @media only screen and (min-width: 981px) {
//   .services {
//     grid-template-columns: 30% 30% 30%;
//     grid-row-gap: 50px;
//   }
// }
